
<p>物と心をつなぐ物々交換</p>

<%= link_to "ログイン",new_user_session_path %>

<%= link_to "新規登録",new_user_registration_path %>

<%= link_to "ログアウト",destroy_user_session_path %>

<%= link_to "about", about_path %>


