<footer>
  <div class="container">
    <div class="row">
      <i class="fab fa-instagram-square fa-2x"></i>
      <i class="fab fa-facebook-square fa-2x"></i>
      <i class="fab fa-twitter-square fa-2x"></i>
    </div>
    <div class="row">
      <p>© 2022 八木陽祐</p>
    </div>
  </div>
</footer>